@page
@model PassDynamics.Pages.PasswordChangeSuccessModel
@{
}
<h2>Password Successfully Changed</h2>

<p>Your password has been successfully changed. You can now use your new password to log in.</p>

<a class="btn btn-primary" href="/">Return to Home</a>